<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="/">My Express App</a>
    </div>
    <div class="navbar-menu">
      <a href="/">Home</a>
      <a href="/about">About</a>
    </div>
  </nav>
</header>